/**
 * @file
 * Styling for the multistep blocks
 */

.multistepper
  {
    text-align: center;
  }

.block-multistep-block .item-list li
  {
    list-style: none;
    background: transparent;
    display: inline-block;
    font-size: 1em;
    float: left;
  }


.region-content .block{
	float:left;
	width:100%;
	}